* {
  margin: 0 auto;
}

body {
  position: relative !important;
}

ul {
  list-style: none;
}

h2 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}

/* a {
  text-decoration: none !important;
  color: white !important;
} */

.homeCont {
  height: 100vh;
}

.headerCont {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg,rgba(3, 53, 108, 0.756),rgba(169, 199, 250, 0.235)), url(./assets/headerBG.jpeg);
  background-size: cover;
  background-position: center;

}

.headerTitle {
  padding: 35% 45px 45px 45px;
}

.headerTitle h1 {
  text-align: center;
  font-family: Open Sans;
  font-size: 3em;
  color: white;
}

.aboutMe {
  height: 600px;
  display: flex;
  align-items: center;
  /* padding: 45px 0 0 0; */
  background: linear-gradient(to right,rgb(255, 255, 255),rgba(255, 255, 255, 0.879)), url(./assets/aboutMeBG.jpeg);
  background-size: cover;
  background-position: center;
}

.aboutMe img {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(1, 31, 63, 0.851);
}

.aboutMeInfo {
  width: 350px;
}

.aboutMeInfo h1, p {
  font-family: Open Sans;
  padding: 15px;
  text-align: center;
  font-weight: lighter;
  color: gray;
}

.skills {
  height: 500px;
  background: linear-gradient(to right,rgba(255, 255, 255, 0.475),rgba(3, 53, 108, 0.756));
  display: flex;
  /* width: 100vw; */
}

.skillsTitle{
  width: 350px;
  height: 100px;
  font-family: Open Sans;
  text-align: center;
  /* float: left; */
  margin: 175px 0 0 150px;
  color: grey;
}

.skillsTitle hr {
  border: solid .3px gray;
  margin-top: 40px;
}

.skillsList li {
  margin: 15px 0 0 0;
  padding: 5px;
  width: 500px;
  
}

.skillsList p {
  text-align: left;
  font-weight: lighter;
  color: white; 
}

.skillsList h2 {
  font-weight: 200;
  color: white;
}

.projects {
  height: 500px;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  flex-direction: row;
  padding: 40px;
}

.projectsTitle {
  width: 350px;
  margin: 0 0 0 130px;
  font-family: Open Sans;
  color: gray;
  float: left;
  text-align: center;
}

.projectsTitle hr {
  border: solid .5px gray;
  margin-top: 40px;
}

.projectsList {
  padding: 50px;
  
}

.projectsList img {
  padding: 20px;
}

@media only screen and (max-width: 955px) {
  .headerTitle {
    color: white;
    transition: color 2s;
  }

  .skills {
    flex-direction: column;
    height: 700px;
    background: rgba(14, 61, 162, 0.76);
    
  }

  .skillsTitle {
    margin: 50px 0 0 25%;
    color: white;
  }

  .skillsTitle hr {
    border: solid .3px white;
  }
}

@media only screen and (max-width: 700px) {

  .headerTitle {
    padding: 15% 45px 45px 45px;
    transition: padding 2s;
  }

  .aboutMe {
    flex-direction: column;
    height: 800px;
  }

  .aboutMe img {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 375px) {
  .headerTitle h1 {
    font-size: 2em;
    transition: font-size 1s;
  }

  .aboutMe h1 {
    padding-top: 35px;
  }

  .skills {
    height: 800px;
  }

  .skillsTitle {
    text-align: center;
    width: 300px;
    margin: 75px 0 0 35px;
  }

  .skillsList li {
    width: 100%;
  }

  .skillsList p {
    display: flex;
    width: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .headerTitle {
    padding: 25% 0 0 0;
    transition: padding 2s;
  }
}