* {
  margin: 0 auto;
}

.homeCont {
  height: 100vh;
}

.headerCont {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/headerBG.jpeg);
  background-size: cover;
  background-position: center;
}

.headerTitle {
  padding: 30% 45px 45px 45px;
}

.headerTitle h1 {
  text-align: center;
}

.skills {
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .headerTitle {
    color: white;
  }

}